.container {
    background-color: aqua;
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.box {
    font-size: 2rem;
    border: 5px;
    border-color: black;
    border-style: solid;
    height: 115px;
    width: 115px;
    text-align: center;
}