.board {
    height: 500px;
    width: 500px;
    display: grid;
    border: 5px;
    border-style: solid;
}


.box:hover {
    background-color: black;
}

.flexContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.board {
    grid-column-start: 2;
}

.controls {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-start: 1;
    grid-row-start: 1;
    gap: 2rem;
    height: 300px;
}

.boardInput {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}

input {
    width: 100%;
}

.footer {
    text-align: center;
    font-size: 0.75rem;
    padding-top: 1rem;
}